<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Туры</title>
    <style>
      table {
          border-collapse: collapse;
          border: 1px solid;
      }
      tr {
          border: 1px solid;
      }
      th {
          border: 1px solid;
          padding: 5px;
      }
      td {
          border: 1px solid;
          padding: 5px;
      }
    </style>
  </head>

  <body>
    <h1>Список туров</h1>

    <table>
      <tr>
        <th>Название тура</th>
        <th>Тип тура</th>
        <th>Сезон</th>
        <th>Временной интервал</th>
      </tr>
      <tr>
        <td>Золотое кольцо России</th>
        <td>Экскурсионный</th>
        <td>Лето</th>
        <td>5 дней, 4 ночи</th>
      </tr>
      <tr>
        <td>Осень в Карелии</th>
        <td>Экскурсионный</th>
        <td>Осень</th>
        <td>3 дня, 2 ночи</th>
      </tr>
      <tr>
        <td>Знакомство с Байкалом. Осень</th>
        <td>Экскурсионный</th>
        <td>Осень</th>
        <td>5 дней, 4 ночи</th>
      </tr>
      <tr>
        <td>Восхождение на Эльбрус</th>
        <td>Восхождение</th>
        <td>Осень</th>
        <td>8 дней, 7 ночей</th>
      </tr>
      <tr>
      </tr>
    </table>

    <h2><a href="/navigator">Назад в навигацию</a></h2>
  </body>
</html>
