<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Туры</title>
    <style>
      table {
          border-collapse: collapse;
          border: 1px solid;
      }
      tr {
          border: 1px solid;
      }
      th {
          border: 1px solid;
          padding: 5px;
      }
      td {
          border: 1px solid;
          padding: 5px;
      }
    </style>
  </head>

  <body>
    <h1>Список туров</h1>

    <table>
      <tr>
        <th>Название тура</th>
        <th>Тип тура</th>
        <th>Сезон</th>
        <th>Временной интервал</th>
      </tr>
      {% for tour in tours %}
      <tr>
        <td>{{ tour.name }}</th>
        <td>{{ tour.type }}</th>
        <td>{{ tour.season }}</th>
        <td>{{ tour.duration }}</th>
      </tr>
      {% endfor %}
    </table>

    <h2><a href="/navigator">Назад в навигацию</a></h2>
  </body>
</html>
